.month-name {
  text-align: center;
  font-size: 65px;
  margin-bottom: 1%;
  width: 100%;
}

.calendar-table {
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 10%;
  box-sizing: border-box;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  th {
    color: red;
  }
}

.submit-button {
  border-radius: 100px;
  padding: 10px;
  border: 0px solid white;
}

.submit-button {
  border-radius: 100px;
  padding: 10px;
  border: 0px solid white;
}
.submit-button:hover {
  background-color: lightblue;
}

.exit-button {
  top: 0px;
  right: 0px;
  position: absolute;
  border-radius: 100px;
  padding: 10px;
  border: 0px solid white;
  background-color: white;
  font-size: 20px;
  width: 5%;
  height: 10%;
  color: gray;
}
.exit-button:hover {
  background-color: lightblue;
  color: black;
}

input {
  border: 0px solid white;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2px;
}
.hour-select {
  border: 0px solid white;
  background-color: #f4f4f4;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 2px;
}
